.movieDetailsContainer {
  display: flex;
  flex-direction: row;
  flex: 1 0 100%;
  padding: 50px 0px;
}

.movieDetailsImage {
  display: flex;
  flex: 1 0 30%;
  justify-content: center;
}

.image {
  width: 200px;
}

.movieDetailsDescription {
  flex: 1 0 70%;
}

.movieDetailsTitle {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

.movieDetailsSubTitle {
  font-weight: 700;
  padding: 20px 0px 10px 0px;
}

.goBack {
  font-weight: bold;
  margin: 5px 0px 0px 5px;
}

.goBack:hover {
  background-color: yellow;
}

.movieDetailsInfo {
  padding-left: 30px;
  border-bottom: 1px solid black;
}

.movieDetailsSubInfo {
  font-size: 18px;
  font-weight: 700;
}

.movieDetailsTextInfo {
  display: flex;
  flex-direction: column;
}

.movieDetailsTextInfo.a {
  padding-top: 5px;
}

.link{
  font-weight: bold;
}

.link:hover{
  color: blue;
}

