.menu {
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

.link {
    text-decoration: none;
    color: #000;
    display: inline-block;
    padding: 10px 15px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.link:global(.active) {
    font-weight: bold;
    color: blue;
}